<div class="p-4">
    <h4>Arhive</h4>

    <ul class="list-unstyled mb-0">
        {{ $keys := slice }}
        {{ range $key, $taxonomy := .Site.Taxonomies.archives }}
            {{ $keys = $keys | append $key }}
        {{ end }}

        {{ $archives := .Site.Taxonomies.archives }}
        {{ range sort $keys "value" "desc" }}
            {{ $k := . }}

            {{ range $key, $taxonomy := $archives }}
                {{ if eq $k $key }}
                    {{ $tokens := split $key "-" }}
                    {{ $year := index $tokens 0 }}
                    {{ $month := index $tokens 1 }}
                    <li><a href="/archives/{{ $key }}">{{ i18n (printf "month.%s" $month) }} {{ $year }}</a></li>
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
</div>

