{{ define "main" }}
    {{ if eq .Type "article" }}
        {{ template "article" (dict "Params" .Params "Date" .Date "Title" .Title "Summary" .Summary "Content" .Content "Dir" .File.Dir "File" .File "authorI18N" $.Site.Data.authors "SiteDataI18n" .Site.Data.i18n "SiteDataCategories" .Site.Data.categories "RelPermalink" .RelPermalink) }}
    {{ else if eq .Type "static" }}
        {{ template "static" (dict "Params" .Params "Date" .Date "Title" .Title "Summary" .Summary "Content" .Content "Dir" .File.Dir "File" .File) }}
    {{ else }}
        {{ .Content | safeHTML }}
    {{ end }}
{{ end }}

{{ define "article" }}
    {{ partial "breadcrumb.html" (dict "page" . "currentPath" .RelPermalink "i18n" .SiteDataI18n "categories" .SiteDataCategories) }}

    {{ template "images" (dict "Dir" .File.Dir "File" .File) }}
    <h2 class="blog-post-title">{{ .Title }}</h2>
    {{ $fullName := index .authorI18N .Params.author | markdownify }}
    <p class="blog-post-meta text-muted"><a href="/author/{{ .Params.author }}" class="text-muted"><strong>{{ $fullName }}</strong></a>, {{ .Date.Day }} {{ i18n .Date.Month }} {{ .Date.Year }}</p>
    {{ .Summary | safeHTML }}
    {{ .Content | safeHTML }}
    {{ template "sources" (dict "Params" .Params ) }}
{{ end }}

{{ define "static" }}
    <h2 class="blog-post-title">{{ .Title }}</h2>
    <p class="blog-post-meta"></p>
    <hr>
    {{ .Content | safeHTML }}
    {{ template "images" (dict "Dir" .File.Dir "File" .File) }}
    {{ template "sources" (dict "Params" .Params ) }}
{{ end }}

{{ define "sources" }}
    {{ if (isset .Params "sources") }}
        <p>
            {{ $index := 1 }}
            {{ $sourcesNo := (len .Params.sources) }}
            {{ if gt $sourcesNo 1}}Surse{{else}}Sursă{{end}}:
            {{ range .Params.sources }}
                <a href="{{ .url }}" target="_blank">{{ if lt $index $sourcesNo }}{{ .title }},{{else}}{{.title}}{{end}}</a>
                {{ $index = add $index 1 }}
            {{ end }}
        </p>
    {{ end }}
{{ end }}

{{ define "images" }}
    {{ $imgDir := printf "/static/images/%s%s/" .File.Dir .File.BaseFileName }}
    {{ if fileExists $imgDir }}
        {{ $count := 0 }}
        {{ range (readDir $imgDir) }}
            {{ if in .Name "-preview.jpg" }}
                {{ $count = add $count 1 }}
            {{ end }}
        {{ end }}

        {{ $imgDir := "/images" }}
        {{ if hasPrefix .File.Dir "/" }}
            {{ $imgDir = printf "%s%s%s" $imgDir .File.Dir .File.BaseFileName }}
        {{ else }}
            {{ $imgDir = printf "%s/%s%s" $imgDir .File.Dir .File.BaseFileName }}
        {{ end }}

        {{ if gt $count 0 }}
            <img src="{{ $imgDir }}/0.jpg" alt="AXA" title="AXA" class="d-block img-fluid rounded">
        {{ end }}
    {{ end }}
{{ end }}