:root {
    --hbs-body-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /*--hbs-body-font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"*/
}

[data-palette=blue] {
    --hbs-primary: #212529;
    --hbs-navbar: #343a40;
    /*
        --hbs-on-primary: #fff;
        --hbs-primary-text-on-surface: #212529;
        --hbs-secondary-text-on-surface: #212529;
        --hbs-accent: #212529;
    */
}

[data-mode=light] {
    --hbs-secondary-text-on-surface: #212529;
}

/*
[data-mode=light] {
    --hbs-background:#f6f8fa;
    --hbs-background-light:rgba(225, 225, 225, 0.3);
    --hbs-primary-text-on-background:#000;
    --hbs-surface:#fff;
    --hbs-primary-text-on-surface:rgba(0, 0, 0, 0.87);
    --hbs-primary-text-on-surface-rgb:0, 0, 0;
    --hbs-secondary-text-on-surface:rgba(0, 0, 0, 0.54);
    --hbs-disabled-text-on-surface:rgba(0, 0, 0, 0.38);
    --hbs-navbar:var(--hbs-primary);
    --hbs-primary-text-on-navbar:#e1e1e1;
    --hbs-accent-text-on-navbar:#e1e1e1;
    --hbs-accent:var(--hbs-primary);
    --hbs-accent-dark:var(--hbs-primary-dark)
}
*/

h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif;
    font-weight: 700;
    /*color: #212529;*/
}

.card-title a {
    font-weight: 700;
}

[data-mode=dark] .axa-header-image-light {
    display: none;
}

[data-mode=light] .axa-header-image-dark {
    display: none;
}

[data-mode=light] .axa-header-image-light {
    background: transparent url("/images/logo-bg-light.png") no-repeat center top !important;
}

[data-mode=dark] .axa-header-image-dark {
    background: transparent url("/images/logo-bg-dark.png") no-repeat center top !important;
}

/*[data-mode=dark] .axa-header-image-dark {*/
/*    background-color: #121212 !important;*/
/*}*/

[data-mode=light] .dropdown-menu-dark {
    background-color: var(--hbs-navbar);
}

[data-mode=light] .dropdown-menu-dark .dropdown-item {
    /*color: var(--hbs-primary-text-on-navbar) !important;*/
    color: #fff !important;
}

[data-mode=light] .dropdown-menu-dark .dropdown-item:hover {
    background-color: #fff !important;
    color: var(--hbs-navbar) !important;
    /*background-color: var(--hbs-primary-text-on-navbar) !important;*/
    /*color: var(--hbs-navbar) !important;*/
}

/*[data-mode=light] .navbar-nav .nav-link {*/
.navbar-nav .nav-link {
    font-weight: bold;
    white-space: nowrap;
    /*color: rgba(255,255,255,.75);*/
    /*color: var(--hbs-primary-text-on-navbar);*/
    /*color: var(--hbs-secondary-text-on-surface);*/
    /*color: var(--hbs-primary-text-on-surface);*/
}

.dropdown:hover>.dropdown-menu {
    margin: -0.125rem 0 0;
    display: block;
}

.text-end {
    text-align: right !important;
}

.taxonomy .card-body img {
    float: left;
    margin-right: 1rem;
    width: 100px;
    height: auto;
    padding-bottom: .125rem;
}

ul.contact-list > li {
    list-style-type: none;
}

ul.contact-list > li > ul {
    list-style-type: none;
}

.post-videos iframe {
    /*width: 100%;*/
    /*height: 100%;*/
    border:0;
}

.card.card-about .card-header {
    border-bottom: none;
}

.card.card-about .card-body {
    padding-top: 0;
}

/*
.profile-bio {
    padding: .25rem 0;
    font-style: italic;
}

.card.card-about ul {
    list-style-type: none;
    padding-left: 0;
}

.card.card-about li {
    padding: .25rem 0;
    clear: both;
}
*/

.poem-dedication {
    margin-left: 2rem;
    font-style: italic;
}

.article-divider
{
    position: relative;
    margin: 50px 0;
    height: 1px;
}

.article-divider:before
{
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}

.last-verse-right {
    margin-left: 10rem;
}

.axa-note:before {
    display: unset;
}

.axa-note-def {
    font-weight: bold;
}

table.table-no-borders,
table.table-no-borders tr,
table.table-no-borders thead,
table.table-no-borders th,
table.table-no-borders tbody,
table.table-no-borders td { border: none; }
table.table-no-borders td { padding: 0; text-align: center; }

.fst-italic {
    font-style: italic;
}

.text-decoration-underline {
    text-decoration: underline;
}

table.table-no-borders-center td { text-align: center; }

table.table-no-borders-left td { text-align: left; }

table.table-no-borders-left td:first-child { padding-right: 20px; }

/*p:first-letter {
    font-size: 72px;
    float: left;
    padding: 10px;
    height: 64px;
    !*font-family: 'HominisNormal';*!
    background-color: #212121;
    margin-right: 10px;
    color: white;
    border-radius: 5px;
    line-height: 70px;
}*/

/*
p:first-child::first-line {
    font-weight: bold;
    font-size: 24px;
    color: #7f7664;
}
*/
