<ul class="nav justify-content-center">
  <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/channel/UCIys1A_H3KZxg_LkRgHLrSQ/videos" target="_blank"><i class="fab fa-fw fa-youtube"></i> Youtube - AXA Neamului</a></li>
  <li class="nav-item"><a class="nav-link" href="https://www.youtube.com/channel/UC3Sltp_XHP4Y66OvClicRfQ/videos" target="_blank"><i class="fab fa-fw fa-youtube"></i> Youtube - AXA TV net</a></li>
  <li class="nav-item"><a class="nav-link" href="https://www.facebook.com/AXAoceanografieortodoxa" target="_blank"><i class="fab fa-fw fa-facebook-f"></i> Facebook</a></li>
</ul>
