{{ $homeCategory := index .categories 0}}
{{ $category := $homeCategory }}
{{ $itemPath := "/" }}

<nav aria-label="breadcrumb">
    <ul class="breadcrumb bio-sim-ul-arrows">
        {{ if not (eq (path.Join $category.id .currentPath) "home") }}
            {{ range $i, $id := (split (path.Join $category.id .currentPath) "/") }}
                {{ if gt $i 0 }}
                    {{ $itemPath = printf "%s%s/" $itemPath . }}
                {{ end }}

                {{ range where $category.categories "id" $id }}
                    {{ $category = . }}
                {{ end }}

                {{ if not (in $category.hide "breadcrumb") }}
                    {{ $itemName := i18n (replace (path.Join $homeCategory.id $itemPath) "/" ".") }}
                    {{ if gt (len $itemName) 0 }}
                        <li class="breadcrumb-item">
                            <a href="{{ $itemPath }}">{{ $itemName }}</a>
                        </li>
                    {{ end }}
                {{ end }}
            {{ end }}

            {{ if .term }}
                <li class="breadcrumb-item">
                    <a href="{{ $itemPath }}">{{ .termName }}</a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>
