<div class="container">
  {{- if not .IsHome -}}
    {{- partial "breadcrumb" . -}}
    {{- partial "sections" . -}}
  {{- end -}}
  {{- partial "hooks/list-begin" . -}}
  <div class="posts mb-4">
  {{- $pages := . -}}

  {{- if .IsHome -}}
    {{- $pages = (.Paginate .Site.Pages).Pages -}}
  {{- else if (eq .Type "authors") -}}
    {{- $pages = (where .Site.RegularPages "Type" "eq" "author") -}}
  {{- else -}}
    {{- $pages = .Paginator.Pages -}}
  {{- end -}}

  {{- if eq .Type "author" -}}
    {{- partial "author" . -}}
  {{- end -}}

  {{ if .Params.Images }}
    <article class="row card component magazine-image">
      <div class="card-body">
      <img class="img-fluid" alt="{{ .Title }}" src="{{ .Permalink }}/{{ index .Params.Images 0 }}" loading="lazy" />
      </div>
    </article>
  <br>
  {{ end }}

  {{- range $pages -}}
    <article class="row card post component">
      {{- if and (default true $.Site.Params.pinned) .Params.pinned -}}
        {{- with .File.UniqueID -}}
          {{- if in ($.Scratch.Get "pinnedPosts") . -}}
          <span class="position-absolute start-0 top-0 text-accent"><i class="fas fa-thumbtack" data-fa-transform="rotate-45"></i></span>
          {{- end -}}
        {{- end -}}
      {{- end -}}
      <div class="card-header">
        <h2 class="card-title post-title">
          <a href="{{ .Permalink }}">{{ partial "helpers/title" . }}</a>
        </h2>
      </div>
      <div class="card-body">
          {{- if .Params.Images -}}
            {{ partial "helpers/image" (dict "filename" (index .Params.Images 0) "alt" .Title "class" "img-fluid" "resources" .Resources) }}
          {{- else -}}
            {{- partial "post/video" . -}}
          {{- end -}}
          {{- if (eq .Type "author") -}}
            {{- partial "author/meta" . -}}
          {{- else -}}
            {{- partial "post/meta" . -}}
          {{- end -}}
          <div class="post-summary">
            {{ partial "post/excerpt" . }}
          </div>
      </div>
    </article>
  {{- end -}}
  </div>
  {{- partial "hooks/list-end" . -}}
  {{- if not (eq .Type "authors") -}}
    {{- partial "pagination" . -}}
  {{- end -}}
</div>
