{{ define "main" }}
{{ partial "breadcrumb.html" (dict "page" . "currentPath" .RelPermalink "i18n" .Site.Data.i18n "categories" .Site.Data.categories "i18nTerm" $.Site.Data.authors "term" .Data.Term "termName" .Params.name) }}

<h2>{{ .Params.name }}</h2>
<p></p>
<img src="{{ .Params.photo }}" alt=""/>

{{ .Content }}

<!--
{{ with .Params.twitter }}
<p>
  <a href="https://twitter.com/{{ substr . 1 }}">
    Follow {{ $.Params.name }} on Twitter
  </a>
</p>
{{ end }}
-->
<p></p>
<h2>Articole</h2>
<ul>
    {{ range sort .Data.Pages "Date" "asc" }}
      {{ $key := printf "%s.%s" "home" (replace .Dir "/" ".") }}
      {{ $key = substr $key 0 -1 }}
      {{ $key := i18n $key }}
      {{ $key := printf "%s - %s" $key .Title }}

        <li><a href="{{ .Permalink }}">{{ $key }}</a></li>
    {{ end }}
</ul>
{{ end }}