<div class="container">
  <div class="row content">
    <nav class="navbar top-app-bar top-app-bar-expand-lg{{ if (default true $.Site.Params.fixedHeader) }} fixed-top{{ end }} navbar-dark bg-dark">
      <div class="container{{ if default false .Site.Params.fullWidth }}-fluid{{ end }}">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent1"
                aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand me-3{{ if .IsHome }} active{{ end }}" href="{{ "" | absURL }}">Revista</a>
        {{ partial "header/settings" . }}
        <div class="collapse navbar-collapse" tabindex="-1" id="navbarSupportedContent1" aria-labelledby="navbarSupportedContent1">
          {{ partial "header/series" . }}
          {{ partial "header/search-bar" . }}
        </div>
      </div>
    </nav>

    <a href="/"><img src="/images/logo.png" alt="AXA" title="AXA" width="100%" class="axa-header-image"></a>

    <nav class="navbar top-app-bar top-app-bar-expand-lg{{ if (default true $.Site.Params.fixedHeader) }} fixed-top{{ end }} navbar-dark bg-dark">
      <div class="container{{ if default false .Site.Params.fullWidth }}-fluid{{ end }}">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent2"
          aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-bars"></i>
        </button>
        <a class="navbar-brand me-3{{ if .IsHome }} active{{ end }}" href="{{ "" | absURL }}">New</a>
        <button class="navbar-settings" type="button"></button>
        <div class="collapse navbar-collapse" tabindex="-1" id="navbarSupportedContent2" aria-labelledby="navbarSupportedContent2">
          {{ partial "header/categories" . }}
        </div>
      </div>
    </nav>
  </div>
</div>